<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel Duerme Bien</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body> 
    <!-- Contenido de la página -->
    <div class="container">
        <h1 class="display-1 text-center">DUERME BIEN</h1>
        <p class="p1">RESORT</p>
        <p class="p2">HOTEL</p>
    </div>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static '/img/1.jpg' %}" class="d-block w-100" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="{% static '/img/2.jpg' %}" class="d-block w-100" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="{% static '/img/3.jpg' %}" class="d-block w-100" alt="Third slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Más contenido de la página -->
    <section class="about">
        <div class="about-text">
            <img src="{% static '/img/sobrenosotros_img.png' %}" class="about-img">
            <h2 class="sobrenosotros-titulo">Sobre nosotros</h2>
            <h3 class="sobrenosotros-texto">
                Bienvenidos a hotel duerme bien - Donde el Lujo y la Experiencia se Encuentran. Desde nuestro inicio, 
                hemos redefinido la excelencia en hospitalidad, ofreciendo a nuestros huéspedes una experiencia única e inolvidable. 
                Nuestra historia es una narración de pasión por el servicio, atención a los detalles y un compromiso inquebrantable con 
                la satisfacción del cliente. Fundado hace más de 10 años.
            </h3>
        </div>
    </section>

    <section class="gallery">
        <h2 class="galery-titulo">Galería</h2>
        <img src="{% static '/img/galeria.png' %}" class="galeria">
    </section>

    <section class="contact">
        <h2 class="conctact-titulo">Contáctanos</h2>
        <img src="{% static 'img/contacto.jpg' %}">
        <h3>HAZ TU RESERVA</h3>
        <div class="contact-form">
            <form id="reservaForm" method="post" action="{% url 'crear_reserva' %}" class="form">
                {% csrf_token %}
                <div class="flex">
                    <label>
                        <input required placeholder="" type="text" class="input" name="nombre">
                        <span>Nombre</span>
                    </label>
                    <label>
                        <input required placeholder="" type="text" class="input" name="apellido">
                        <span>Apellido</span>
                    </label>
                </div>
                <label>
                    <input required placeholder="" type="email" class="input" name="correo">
                    <span>Correo</span>
                </label>
                <label>
                    <input type="datetime-local" id="check_in" class="input" name="check_in">
                    <span>Check in</span>
                </label>
                <label>
                    <input type="datetime-local" id="check_out" class="input" name="check_out">
                    <span>Check out</span>
                </label>
                <button type="submit" class="submit btn btn-primary">Enviar</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="social-icons">
            <box-icon name='instagram' type='logo' color='#be8585'></box-icon>
            <box-icon name='twitter' type='logo' color='#be8585'></box-icon>
            <box-icon name='facebook-circle' type='logo' color='#be8585'></box-icon>
        </div>
        <div class="footer-text">
            <p class="p-footer1">HOTEL</p>
            <h4 class="text-footer">DUERME BIEN</h4>
            <p class="p-footer2">Copyright © 2023</p>
        </div>
    </footer>
    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script>
        document.getElementById('reservaForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const form = event.target;
    
            fetch(form.action, {
                method: form.method,
                body: new FormData(form),
                headers: {
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
                }
            }).then(response => response.json()).then(data => {
                if (data.status === 'success') {
                    Swal.fire(
                        'Reserva confirmada',
                        data.message,
                        'success'
                    );
                } else {
                    Swal.fire(
                        'Error',
                        data.message,
                        'error'
                    );
                }
            }).catch(error => {
                Swal.fire(
                    'Error',
                    'Algo salió mal',
                    'error'
                );
            });
        });
    </script>
</body>
</html>